<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title practice41
        link(rel="stylesheet", href="/css/styles.css")
    body
        .screen
        .box
        .app
            .app__col1
            .app__col2
                .app__col2__sec1
                .app__col2__sec2
        .add
            .add__col1
            .add__col2
            .add__col3
            .add__col4
            .add__col5
        .css
            .css__col1
            .css__col2
            .css__col3
        .pug
            .pug__col1
                .pug__col1__sec1
                .pug__col1__sec2
            .pug__col2
                .pug__col2__sec1 
                .pug__col2__sec2
                .pug__col2__sec3
                    .pug__col2__sec3__a1
                    .pug__col2__sec3__a2              